/* General styles */
.container {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 15px;
}

.card {
    background-color: rgba(255, 255, 255, 0.689);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.form-control {
    border: 2px solid purple;
    border-radius: 20px;
}

.send-button {
    background-color: #800080;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    width: 100px;
    transition: 0.3s;
}

.send-button:hover {
    background-color: #8b008b;
    color: white;
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.image {
    background-color: purple;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.737), rgba(0, 0, 0, 0.729)), url('/static/img/bg.jpg') top/cover no-repeat fixed;
}

/* Responsive styles */
@media (min-width: 769px) {
    .card {
        width: 49rem;
        height: 30rem;
    }

    .container-fluid {
        margin-top: 150px;
        min-height: 540px;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        height: auto;
    }

    .col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container-fluid {
        margin-top: 100px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    .form-control, .send-button {
        font-size: 12px;
    }

    .card-body {
        padding: 10px;
    }
}
